body{
    background-image: url("helabackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fa-angle-down, .fa-angle-up, .fa-edit {
    margin-left: 50%;
    width: 16px;
}

.fa-plus.card{
    text-align: center;
    width: 20%;
    background-color: #051f10;
    color: palegoldenrod;
}
.far {
    margin-left: 98%;
    width: 16px;
}

.card.bg-light, .card.bg-info {
    background-color: #051f10 !important;
    margin: 40px 40px 10px 10px;
    box-shadow: 10px 10px 8px #4caf50;
    opacity: 0.5;
    width: 50%;
    left: 500px;
    color: white;
}

.card:hover {
    opacity: 0.8;
}

.btn{
    background-color: #880c19;
}
.btn-outline-info, #new_board_box {
    background-color: #d4d5d7;
    box-shadow: 10px 10px 8px #888888;
}

h1 {
    font-size: 60pt;
    padding: 20px 20px 20px 650px;
    font-family:'IM Fell English', serif;
    text-shadow: 2px 2px #051f10;
    color: #880c19;
}

#new_board_box.card {
    position: absolute;
    top: 50px;
    right: 60px;
    text-align: right;
    align-self: right;
    width: 80px;
}

.footer {
    height: 50px;
    transition-duration: 0.300s;
}

.footer:hover {
    height: 150pt;
    color: white;
}

#our-team {
    position: fixed;
    text-align: right;
    align-self: right;
    padding: 50px;
    display: inline-block;
}

#dark-theme {
    position: absolute;
    top: 10px;
    right: 70px;
    text-align: right;
    align-self: right;
}
.fas.dark {
    text-align: center;
    display: inline-block;
    color: #ffffff;
}

.far.dark {
    text-align: right;
    display: inline-block;
    color: white;
}

.card.dark {
    margin: 40px 40px 10px 10px;
    box-shadow: 10px 10px 8px #888888;
    opacity: 0.5;
    color: white;
    position: fixed;
}

.card.dark:hover {
    opacity: 0.8;
}

.btn-outline-info, #new_board_box {
    background-color: #000000;
    box-shadow: 10px 10px 8px #888888;
    color: white;
}

h1.dark {
    font-size: 60pt;
    padding: 20px 20px 20px 40px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #4caf50;
    color: white;
}

div.dark {
    color: white;
}

div#dark-theme {
    color: black;
    position: absolute;
    top: 10px;
    right: 70px;
    text-align: right;
    align-self: right;
}

.card.new, card.new.dark {
    color: black;
    background-color: #888888;
}

.fas.fa-plus.card.dark, .fas.fa-edit.forcards.dark {
    color: white;
    background-color: #051f10;
}

.dragula-container {
    height: 100%;
}

#fun-theme {
    position: absolute;
    top: 200px;
    right: 100px;
    height: 50px;
    width: 50px;
    opacity: 0.2;
}
