body{
    padding: 20px;
    background-image: url("background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fa-angle-down, .fa-angle-up {
    margin-left: 50%;
    width: 16px;
}

.fa-plus card{
    text-align: center;
}
.far {
    width: 16px;
}

.card {
    margin: 40px 40px 10px 10px;
    box-shadow: 10px 10px 8px #888888;
    opacity: 0.5;
}

.card:hover {
    opacity: 0.8;
}

.btn-outline-info, #new_board_box {
    background-color: #d4d5d7;
    box-shadow: 10px 10px 8px #888888;
}

h1 {
    font-size: 60pt;
    padding: 20px 20px 20px 40px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px palegoldenrod;
}

h4, h5, label {
    padding: 10px 10px 10px 2px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px palegoldenrod;
}

h5.alert {
    color: #ff0c1c;
}

#new_board_box.card {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
    align-self: right;
    padding: 5px;
}

.footer {
    height: 1px;
    position: fixed;
    bottom:10px;
    right: 20px;
    transition-duration: 0.300s;
}

.footer:hover {
    height: 200px;
    right: 20px;
    position: fixed;
    text-align: right;
    align-self: right;
    display: inline-block;
}

img.footer {
    height: 50px;
    bottom:10px;
    left: 20px;
}

#our-team {
    position: fixed;
    text-align: right;
    align-self: right;
    padding: 50px;
    display: inline-block;
}

#dark-theme {
    position: absolute;
    top: 10px;
    right: 70px;
    text-align: right;
    align-self: right;
}

.fas.dark {
    text-align: center;
    display: inline-block;
    color: #ffffff;
}

.far.dark {
    text-align: right;
    display: inline-block;
    color: white;
}

.card.dark {
    margin: 40px 40px 10px 10px;
    box-shadow: 10px 10px 8px #888888;
    opacity: 0.5;
    color: white;
}

.card.dark:hover {
    opacity: 0.8;
}

.btn-outline-info, #new_board_box {
    background-color: #000000;
    box-shadow: 10px 10px 8px #888888;
    color: white;
}

h1.dark {
    font-size: 60pt;
    padding: 20px 20px 20px 40px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #4caf50;
    color: white;
}

h4.dark, h5.dark, label.dark {
    padding: 10px 10px 10px 2px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #4caf50;
    color: white;
}

h5.dark.alert {
    color: #ff0c1c;
}

div.dark {
    color: white;
}

div#dark-theme {
    color: black;
    position: absolute;
    top: 10px;
    right: 70px;
    text-align: right;
    align-self: right;
}

.card.new.dark {
    color: black;
}

.fas.fa-plus.card.dark, .fas.fa-edit.forcards.dark {
    color: black;
}

.dragula-container {
    height: 100%;
}

#fun-theme {
    position: absolute;
    top: 200px;
    right: 50px;
    height: 50px;
    width: 50px;
    opacity: 0.01;
}
