<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IM+Fell+English" rel="stylesheet">
        <link  id="stylea" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/themes.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/drag.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/html_strings.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <div class="row">
            <h1>ProMan</h1>
            <img id="fun-theme" src="https://media1.tenor.com/images/8af8c8aa699dbb19e5aaa0db978ce484/tenor.gif?itemid=5235956">
            <div class="btn bg-dark" id="dark-theme">Dark</div>
            <div class="card btn" id="new_board_box">
                 <div id="new_board_clickable_area">
                <div id="new_board_text">New Board</div>
               </div>
                <input class="form-control" id="new_board_input_field" hidden>
                <button class="btn btn-outline-info" id="save_new_board_button" hidden>Save Board</button>
                <button class="btn btn-outline-info" id="cancel_saving_new_board_button" hidden>Cancel</button>
            </div>
        </div>
        <div class="container" id="boards"></div>
        <div class="footer">
            <img class="footer" src="/static/css/Logomakr_1l87cp.png" alt="BaD-logo">
        </div>
        <div class="footer" id="our-team">
            <p><i>Powered by determination and coffee</i></p>
            <p>Dávid</p>
            <p>Kondi</p>
            <p>Adrienn</p>
        </div>
    </body>
</html>