{% extends 'layout.html' %}

{% block content %}

<body>
    <div class="row">
        <h1>ProMan</h1>
        <div id="logout">
            <h5 class="alert" id="logout-message"></h5>
        </div>
        <img id="fun-theme" src="https://media1.tenor.com/images/8af8c8aa699dbb19e5aaa0db978ce484/tenor.gif?itemid=5235956">
        <div class="btn bg-dark" id="dark-theme">Dark</div>
        <div class="card" id="new_board_box">
            <i class="fas fa-plus" id="new_board_icon"></i>
            <div id="new_board_text">New Board</div>
            <input class="form-control" id="new_board_input_field" hidden>
            <button class="btn btn-outline-info" id="save_new_board_button" hidden>Save Board</button>
        </div>
    </div>
    <div class="container" id="boards"></div>
    <div class="footer">
        <img class="footer" src="/static/css/Logomakr_1l87cp.png" alt="BaD-logo">
    </div>
    <div class="footer" id="our-team">
        <p><i>Powered by determination and coffee</i></p>
        <p>Dávid</p>
        <p>Kondi</p>
        <p>Adrienn</p>
    </div>
</body>

{% endblock %}
